/* Home.css */

.home-container {
    padding: 8px;
    margin-left: 0%;
    max-width:  100% !important;
    
  }

  .home-card-title {
    font-size: 1.5rem;
    outline: none !important;


  }
  
  a, a:focus, a:active {
    outline: none !important;
    text-decoration: none;
}

  
  
  .home-card {
    background-color: white; /* Cambia el fondo a blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    width: 90%; /* Cambia el ancho */
    max-width: 400px; /* Cambia el ancho máximo */
    height: 90%; /* Cambia la altura */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    outline: none !important;

  
  }

  .home-card2 {
    background: linear-gradient(130deg, #a9afb0, #c0ddda); /* Añade tu degradado aquí */
    color: white; /* Cambia el color del texto a blanco para que se vea sobre el degradado */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    width: 90%;
    max-width: 400px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer; /* Cambia el cursor al pasar sobre la tarjeta */
    transition: transform 0.3s ease; /* Añade una transición suave */
    outline: none !important;

  }
  
  .home-card2:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta cuando el cursor pase sobre ella */
  }
  
 
 
  .chart-container {
    background-color: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  