.Aboutus {
    background-color: #FFFFFF;
}

.aboutus-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-title {
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 350%
    
}

.aboutus-card {
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: #FFFFFF;
    transition: transform 0.2s;
    border-width: 8px; /* Borde más grueso */
    border-style: solid;
}

.aboutus-card:hover {
    transform: scale(1.03);
}

.card-title {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.card-text {
    font-size: 1rem;
    color: #424242;
    line-height: 1.5;
}

.carda-img {
    border-radius: 10px;
    width: 240px;
    height: 240px;
    margin-left: 200px;
    margin-top: -20px;
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Colores de bordes para las cards */
.card-red {
    border: none;
    border-color: #FF0000;
    border-width: 4px;
}

.card-blue {
    border: none;
    border-color: #003087;
    border-width: 4px;

}


.card-green {
    border: none;
    border-color: #008000;
    border-width: 4px;

}

/* Alineaciones específicas para los títulos */
.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.title-background-red {
    background: linear-gradient(to right, #FF0000, rgba(255,0,0,0.5));
    padding: 15px 15px;
    display: inline-block;
    width: 100%;
}

.title-background-blue {
    background: linear-gradient(to right, #003087, rgba(0,48,135,0.5));
    padding: 15px 15px;
    display: inline-block;
    width: 100%;

}

.title-background-green {
    background: linear-gradient(to right, #008000, rgba(0,128,0,0.5));
    padding: 15px 15px;
    display: inline-block;
    width: 100%;

}