.Aboutus {
    background-color: #FFFFFF;
}

.aboutus-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-title {
    text-align: center;
    color: #000000;
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 350%;
}

.aboutus-card {
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: #ffffff;
    transition: transform 0.2s;
    border-width: 8px; /* Borde más grueso */
    border-style: solid;
}

.aboutus-card:hover {
    transform: scale(1.03);
}

.card-title {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.card-text {
    font-size: 1rem;
    color: #424242;
    line-height: 1.5;
}

.carda-img {
    border-radius: 10px;
    width: 240px;
    height: 240px;
    margin-left: 200px;
    margin-top: -20px;
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Colores de bordes para las cards */

.card-blue {
    border: none;
    border-color: #254d99;
    border-width: 4px;
}

.card-green {
    border: none;
    border-color: #008000;
    border-width: 4px;
}

.card-red {
    border: none;
    border-color: #1bd1d7; /* Este color ya está correcto */
    border-width: 4px;
}

/* Alineaciones específicas para los títulos */

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.title-background-blue {
    background: linear-gradient(to right, #2957ae, rgba(0,48,135,0.5));
    padding: 25px 15px;
    display: inline-block;
    width: 100%;
}

.title-background-green {
    background: linear-gradient(to right, #3c2eb6, rgba(36, 53, 208, 0.5));
    padding: 25px 15px;
    display: inline-block;
    width: 100%;
}

.title-background-red {
    background: linear-gradient(to right, #1bd1d7, rgba(27,209,215,0.5)); /* Actualiza el color aquí también */
    padding: 25px 15px;
    display: inline-block;
    width: 100%;
}

/* Estilos para la línea de tiempo */

/* ... (otros estilos que no cambian) ... */

/* Estilos para la línea de tiempo */

.timeline {
    position: relative;
    max-width: 1200px; /* Puede ajustar este valor según lo necesite */
    margin: 0 auto;
    padding: 20px 0; /* Agregamos padding para dar espacio a las tarjetas */
}

.timeline::before {
    content: '';
    position: absolute;
    top: 10%; /* Ajustamos la posición inicial de la línea */
    bottom: 10%; /* Ajustamos la posición final de la línea */
    left: 50%;
    width: 2px; /* Hacemos la línea más sutil */
    background: #424242;
    z-index: 1;
}

.timeline-item {
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
}

.timeline-item:nth-child(odd) .aboutus-card {
    margin-right: 50%;
    margin-left: 5%; /* Agregamos un pequeño margen para evitar superposiciones */
}

.timeline-item:nth-child(even) .aboutus-card {
    margin-left: 50%;
    margin-right: 5%; /* Agregamos un pequeño margen para evitar superposiciones */
}
